# NLP 4 : Bag of Words

## 1. Import

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
df_raw = pd.read_csv('train.csv')
display(df_raw.head())

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

## 2. Only positive & negative

In [17]:
df = df_raw[df_raw['sentiment'].isin(['negative', 'positive'])]
display(df.head())
sentiment_percentage = round(df['sentiment'].value_counts(normalize=True) * 100,2)
print(sentiment_percentage)

,textID,text,selected_text,sentiment
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
6,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,positive

sentiment
positive    52.45
negative    47.55
Name: proportion, dtype: float64

## 3. Train Test Split

In [26]:
X = df['text']
y = df['sentiment']

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   train_size=0.75,
                                                   random_state=32)

## 4. Vectorizer Model

In [33]:
vectorizer = CountVectorizer()
X_train_CV = vectorizer.fit_transform(X_train)

X_test_CV = vectorizer.transform(X_test)
X_test_CV

<4091x15806 sparse matrix of type '<class 'numpy.int64'>'
	with 44633 stored elements in Compressed Sparse Row format>